# Ignore artifacts:
build
coverage
docs
node_modules
# This can be removed after https://github.com/googleapis/release-please/issues/1802 is fixed
CHANGELOG.md
# TSC output:
webpack.config.js
lib/*.js
