# Ignore artifacts:
build
coverage
docs
node_modules
# This can be removed after https://github.com/googleapis/release-please/issues/1802 is fixed
CHANGELOG.md
# TSC output:
webpack.config.js
lib/*.js
# TODO temporary list of .js files from editor/js that are compiled from typescript
# TODO after all .js files are migrated, rule "editor/js/*.js" should be added instead
editor/js/editor-libs/clippy.js
