# Ignore artifacts:
build
coverage
docs
node_modules
# These may be removed after https://github.com/googleapis/release-please/issues/1802 is fixed
.release-please-manifest.json
CHANGELOG.md
# TSC output:
lib/*.js
editor/js/**/*.js
