.CodeMirror-linenumber {
    color: var(--text-secondary);
}

.cm-s-default,
.cm-s-default .cm-operator,
.cm-s-default .cm-variable {
  color: var(--code-default);
}

.cm-s-default .cm-tag.cm-bracket  {
  color: var(--code-punctuation);
}
.cm-s-default .cm-comment {
    color: var(--code-comment);
}

.cm-s-default .cm-keyword,
.cm-s-default .cm-tag {
    color: var(--code-tag);
}

.cm-s-default .cm-def,
.cm-s-default .cm-attribute {
  color: var(--code-attribute-name);
}

.cm-s-default .cm-string,
.cm-s-default .cm-atom {
    color: var(--code-attribute-value);
}

.cm-s-default .cm-string2 {
    color: var(--code-selector);
}

.cm-s-default .cm-property {
    color: var(--code-attribute-name);
}
