:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
  --font-body: Inter, var(--font-fallback);
  --font-code: Consolas, "Courier New", monospace;
  --type-body-l: 400 1rem/1.1876 var(--font-body); /* 16px/19px */
  --type-emphasis-m: 600 0.8125rem/1.23 var(--font-body); /* 13px/16px */
  --font-heading: Montserrat, var(--font-fallback);
  --type-label-s: 600 0.625rem/1.2 var(--font-heading); /* 10px/12px */
  --type-code-regular: 400 0.875rem/1.5 var(--font-code); /* 14px/21px */

  --elem-radius: 0.25rem;
  --button-height: 2rem;
  --button-radius: var(--elem-radius);

  /* Everything below here needs to be duplicated in .dark below for themeing */
  --background-primary: #fff;
  --background-secondary: #F5F9FA;
  --background-tertiary: #fbfbfeff;
  --border-primary: #e0e0e6ff;
  --text-primary: #15141aff;
  --text-secondary: #5b5b66ff;
  --icon-primary: #5b5b66ff;
  --accent-primary: #008787ff;
  --field-focus-border: #0090edff;
  --focus-01: 0px 0px 0px 3px rgba(0, 144, 237, 0.4);
  --code-tag: #e22850;
  --button-primary-default: #15141aff;
  --button-primary-hover: #3a3944ff;
  --button-secondary-default: #fbfbfeff;
  --button-secondary-hover: #e0e0e6ff;
  --code-punctuation: #7f145b;
  --code-attribute-name: #e27f2e;
  --code-attribute-value: #008787;
  --code-comment: #5b5b66;
  --code-default: #15141a;
  --code-selector: #054096;
}


.dark {
  --background-primary: #15141aff;
  --background-secondary: #23222bff;
  --background-tertiary: #2b2a33ff;
  --border-primary: #52525eff;
  --text-primary: #fbfbfeff;
  --text-secondary: #cfcfd8ff;
  --button-secondary-default: #2b2a33ff;
  --button-secondary-hover: #52525eff;
  --accent-primary: #2ac3a2ff;
  --icon-primary: #fbfbfeff;
  --button-primary-default: #008787ff;
  --button-primary-hover: #2ac3a2ff;
  --code-tag: #ff4f5e;
  --code-punctuation: #8f8f9d;
  --code-attribute-name: #ffa436;
  --code-attribute-value: #3fe1b0;
  --code-comment: #8f8f9d;
  --code-default: #fbfbfe;
  --code-selector: #0bb0f1;
}

/* This is duplicated from the .dark class above. */
@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #15141aff;
    --background-secondary: #23222bff;
    --background-tertiary: #2b2a33ff;
    --border-primary: #52525eff;
    --text-primary: #fbfbfeff;
    --text-secondary: #cfcfd8ff;
    --button-secondary-default: #2b2a33ff;
    --button-secondary-hover: #52525eff;
    --accent-primary: #2ac3a2ff;
    --icon-primary: #fbfbfeff;
    --button-primary-default: #008787ff;
    --button-primary-hover: #2ac3a2ff;
    --code-tag: #ff4f5e;
    --code-punctuation: #8f8f9d;
    --code-attribute-name: #ffa436;
    --code-attribute-value: #3fe1b0;
    --code-comment: #8f8f9d;
    --code-default: #fbfbfe;
    --code-selector: #0bb0f1;
  }
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    height: 100%;
    font: var(--type-body-l);
}

.output-header {
  margin: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--border-primary);
}

.output-header.no-border {
  border-bottom: 0 none;
}

.output-heading {
    margin: 0;
    font: var(--type-body-l);
}

.reset {
    background-color: transparent;
    color: var(--text-primary);
    font: var(--type-label-s);
    margin: 0;
    padding: .7em .9em;
    height: var(--button-height);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: none;
    max-width: 100px;
    cursor: pointer;
    border-radius: var(--button-radius);
}

.reset:hover {
    background-color: var(--button-secondary-hover);
}

.CodeMirror {
    border: 1px solid var(--border-primary);
    height: 280px;
    background: var(--background-primary);
}

.CodeMirror-gutters {
  background: var(--background-secondary);
  border-right: 1px solid var(--border-primary);
}

.user-message {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: var(--text-secondary);
    color: var(--background-primary);
    padding: .5rem;
    border-radius: var(--elem-radius);
    font-size: 14px;
    opacity: 1;
    transition: opacity .5s;
    z-index: 4;
}

.fade-in {
    animation: fadein .5s;
}

.fade-out {
    animation: fadeout .5s;
}

.hide {
    opacity: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Hide visually, but not to screen readers */
.visually-hidden {
    position: absolute !important; /* stylelint-disable-line */
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
}

/* mobile ends */
@media screen and (min-width: 47.9375em) {
    header h4 {
        font-size: 1.1rem;
    }
}

/* tablet ends */
@media screen and (min-width: 63.9375em) {
    header h4 {
        font-size: 1.4rem;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
