/* Prism theme overrides */
pre[class*="language-"] {
  background-image: none;
  margin: 0;
  border: 0;
  box-shadow: none;
  overflow: auto;
}

pre[class*="language-"] > code {
  background: none;
  border: none;
  box-shadow: none;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  width: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;
}

code[class*="language-"] {
  max-height: 240px;
  overflow: auto;
}

.line-numbers .line-numbers-rows {
  background-color: #f5f9fa;
  border-right: 0;
}

.line-numbers-rows > span:before {
  color: #333;
}

.token {
  color: var(--code-token-default);
}

.token.punctuation {
  color: var(--code-token-punctuation);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-token-comment);
}

.token.keyword,
.token.tag .token.builtin {
  color: var(--code-token-tag);
}

.token.attribute,
.token.attr-name {
  color: var(--code-token-attribute-name);
}

.token.string,
.token.char,
.token.number,
.token.atom {
  color: var(--code-token-attribute-value);
}

.token.selector {
  color: var(--code-token-selector);
}

.token.property {
  color: var(--code-token-attribute-name);
}
