.tab-list {
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
  background: var(--background-secondary);
}

button[role='tab'] {
    background-color: transparent;
    color: var(--text-secondary);
    padding: .5em 30px;
    border: 0 none;
    border-bottom: 3px solid transparent;
    font: var(--type-emphasis-m);
    cursor: pointer;
}

button[role='tab']:hover,
button[role='tab']:focus {
    color: var(--text-primary);
}

button[aria-selected='true'] {
    color: var(--accent-primary);
    border-bottom-color: var(--accent-primary);
}
