.editor,
.output {
    font-size: 14px;
}

.editor {
    position: relative;
    margin-bottom: 1em;
}

.output {
    position: relative;
    display: inline-block;
    background-color: var(--background-secondary);
    margin: 0;
    padding: .8em;
    border: 1px solid var(--border-primary);
    border-radius: var(--elem-radius);
    width: 91%;
    height: 120px;
    font: var(--type-code-regular);
}

.output code {
    width: 100%;
    height: 100px;
    white-space: pre;
    vertical-align: middle;
    word-break: break-word;
    overflow-y: auto;
}

.buttons-container {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

.button {
    display: block;
    background-color: var(--button-secondary-default);
    color: var(--text-primary);
    padding: .5em;
    border: 1px solid var(--border-primary);
    border-radius: var(--elem-radius);
    width: 100px;
    font: var(--type-emphasis-m);
    cursor: pointer;
}

.button:first-child {
    margin-bottom: .5em;
}

.button:hover {
    background-color: var(--button-secondary-hover);
}

.js .editor {
    min-height: 280px;
}

.js .editor.taller,
.js .editor.taller .CodeMirror {
    height: 490px;
}

.js .editor.shorter,
.js .editor.shorter .CodeMirror {
    height: 200px;
    min-height: 200px;
}

@supports (display: flex) {
    .buttons-container {
        align-self: flex-start;
        width: auto;
    }

    .output-container {
        display: flex;
        align-items: center;
    }

    .run {
        margin-right: 10px;
    }

    .output {
        display: flex;
        flex: 10 150px;
        align-items: center;
    }
}
