.editor-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* sizing utility classes */
.tabbed-shorter .CodeMirror {
    height: 252px;
}



.tabbed-standard .CodeMirror {
    height: 322px;
}

.tabbed-taller .CodeMirror {
    height: 532px;
}

.tabbed-taller .CodeMirror,
.tabbed-standard .CodeMirror,
.tabbed-shorter .CodeMirror {
  border-right: 0 none;
  border-left: 0 none;
  border-bottom: 1px solid var(--border-primary);
}


.shadow-container {
  position: relative;
}

/* For non shadow-dom supporting browsers */
.output.style-scope {
    background-color: var(--background-primary);
    border-left: 1px solid var(--border-primary);
    font-size: .9rem;
    height: 342px;
    line-height: 1.5;
    margin: 0;
    overflow: scroll;
    padding: 1rem;
}

.tabs {
    font-size: .9rem;
    flex: none;
}

.output-label,
.console-label {
    position: absolute;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 0 0 0 var(--elem-radius);
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem 1.6rem;
    font-size: .9rem;
    z-index: 2;
    font: var(--type-label-s);
    text-transform: uppercase;
}

.icon-clear {
  width: 12px;
  height: 12px;
}

.clear {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background-color: var(--button-secondary-default);
  color: var(--text-primary);
  padding: .5em;
  margin-bottom: 0.5rem;
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  font: var(--type-emphasis-m);
  cursor: pointer;
}

.clear:hover {
  background-color: var(--button-secondary-hover);
}

.console-container {
    position: relative;
    border-top: 1px solid var(--border-primary);
    padding-top: 0.5rem;
}

.console-label {
    position: absolute;
    top: 3rem;
    right: 1px;
    border-radius: var(--elem-radius);
}

.console {
    position: relative;
    height: 200px;
    background-color: var(--background-secondary);
    margin: 0;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid var(--border-primary);
    border-radius: var(--elem-radius);
    width: 100%;
    height: 200px;
    font: var(--type-code-regular);
}

.console code {
    display: block;
    width: 100%;
    height: 100px;
    white-space: pre;
    word-break: break-word;
    overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .editor-container {
    flex-direction: row;
  }

  .console {
    padding-top: 0.5rem;
  }


  .tabs {
      width: 60%;
  }

  .tabbed-shorter {
      height: 300px;
  }

  .tabbed-standard {
      height: 370px;
  }
  .tabbed-taller {
      height: 580px;
  }

  .shadow-container {
    width: 40%;
    height: 100%;
    border-left: 1px solid var(--border-primary);
  }

  .tabbed-taller .CodeMirror,
  .tabbed-standard .CodeMirror,
  .tabbed-shorter .CodeMirror {
    border-bottom: 0 none;
  }

}
