.editor-container {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.CodeMirror {
    border: 3px solid #3f87a6;
    border-right: none;
    border-left: 5px solid #3f87a6;
}

/* sizing utility classes */
.tabbed-shorter {
    height: 300px;
}

.tabbed-shorter .CodeMirror {
    height: 240px;
}

.tabbed-standard {
    height: 370px;
}

.tabbed-standard .CodeMirror {
    height: 300px;
}

.tabbed-taller {
    height: 580px;
}

.tabbed-taller .CodeMirror {
    height: 500px;
}

.shadow-container {
    width: 40%;
}

/* For non shadow-dom supporting browsers */
.output.style-scope {
    background-color: #fff;
    border: 15px solid #eee;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3),
        inset -5px -5px 10px rgba(0, 0, 0, .2);
    font-size: .9rem;
    height: 342px;
    line-height: 1.5;
    margin: 24px 1em 0 0;
    overflow: scroll;
    padding: 30px;
}

.editor-container {
    display: flex;
}

.tabs {
    font-size: .9rem;
    flex: none;
}

.tabs {
    width: 60%;
}

.output-label,
.console-label {
    position: absolute;
    background-color: #333;
    color: #83d0f2;
    top: 92px;
    right: 29px;
    margin: 0;
    padding: 3px 10px;
    width: 70px;
    height: 25px;
    font-size: .9rem;
    letter-spacing: .035rem;
    z-index: 2;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output-header button {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    width: 100px;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}

.output-header button.reset {
    background-color: rgba(83, 202, 255, .6);
}

.output-header button:hover,
.output-header button:focus {
    background-color: #333;
    color: #fff;
}

.console-container {
    position: relative;
    top: -29px;
    z-index: -1;
}

.console-label {
    top: 21px;
    right: 15px;
    padding: 5px 5px 5px 16px;
    width: 150px;
    height: auto;
}

.console {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    padding: .8em;
    border: 1px solid #3f87a6;
    border-left-width: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2) inset;
    width: 99%;
    height: 120px;
    font-family: courier;
}

.console code {
    width: 100%;
    height: 100px;
    white-space: pre;
    vertical-align: middle;
    word-break: break-word;
    overflow-y: auto;
}
