.editor-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* sizing utility classes */
.tabbed-shorter .CodeMirror {
    height: 252px;
}



.tabbed-standard .CodeMirror {
    height: 322px;
}

.tabbed-taller .CodeMirror {
    height: 532px;
}

.tabbed-taller .CodeMirror,
.tabbed-standard .CodeMirror,
.tabbed-shorter .CodeMirror {
  border-right: 0 none;
  border-bottom: 1px solid var(--border-primary);
}


.shadow-container {
  position: relative;
}

/* For non shadow-dom supporting browsers */
.output.style-scope {
    background-color: var(--background-primary);
    border-left: 1px solid var(--border-primary);
    font-size: .9rem;
    height: 342px;
    line-height: 1.5;
    margin: 0;
    overflow: scroll;
    padding: 1rem;
}

.tabs {
    font-size: .9rem;
    flex: none;
}

.output-label,
.console-label {
    position: absolute;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 0 0 0 var(--elem-radius);
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem 1.6rem;
    font-size: .9rem;
    z-index: 2;
    font: var(--type-label-s);
    text-transform: uppercase;
}

.icon-clear {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

.clear {
    background-color: rgba(83, 202, 255, .6);
    color: #333;
    border: 0;
    padding: 5px 5px 8px;
    width: 150px;
    height: auto;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.console-container {
    position: relative;
}

.console-label {
    position: initial;
    display: inline-block;
    padding: 5px 5px 5px 16px;
    width: 150px;
    height: auto;
}

.console {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    padding: .8em;
    border: 1px solid #3f87a6;
    border-left-width: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2) inset;
    width: 99%;
    height: 200px;
}

.console code {
    display: block;
    width: 100%;
    height: 100px;
    white-space: pre;
    word-break: break-word;
    overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .editor-container {
    flex-direction: row;
  }

  .tabs {
      width: 60%;
  }

  .tabbed-shorter {
      height: 300px;
  }

  .tabbed-standard {
      height: 370px;
  }
  .tabbed-taller {
      height: 580px;
  }

  .shadow-container {
    width: 40%;
    height: 100%;
    border-left: 1px solid var(--border-primary);
  }

  .tabbed-taller .CodeMirror,
  .tabbed-standard .CodeMirror,
  .tabbed-shorter .CodeMirror {
    border-bottom: 0 none;
  }

}
