name: test-bob
on: [pull_request]

jobs:
  test:
    name: test-bob
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "12"
      - name: Install dependencies
        run: |
          npm install
      - name: Build bob
        run: |
          npm run build
      - name: Run tests
        run: |
          npm run test
